input, .btn{
  width: 100%;
  outline: none;
}

input{
  padding: 10px 15px;
  border: 1px solid #999;
  border-radius: 2vh;
}

.logo{
  width: 100px;
  border-radius: 25vh;
  margin-bottom: 10px;
}

.title{
  color: white;
  font-size: 1.2em;
  margin-bottom: 10px;
}

#result{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

#result>*{
  color: white;
  text-align: center;
}
